*,
:before,
:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --clr-dark: #3c2846;
  --clr-light: #fafafa;
}

body {
  margin: 0;
  background-color: #181645 !important;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

#hero,
#certification {
  position: relative;
}

#certification {
  height: 30rem !important;
}

#myVideoCertification {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#hero::before,
#certification::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    101.38deg,
    rgba(5, 20, 107, 0.75) -0.29%,
    rgba(24, 22, 69, 0.75) 100.57%
  );
  /* Adjust the opacity and color as needed */
  z-index: 0;
}

/* Adjust text color on top of the overlay */
#hero h1,
#hero h2,
#hero a,
#certification h1,
#certification h2,
#certification a {
  color: #fff;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.divider {
  margin-top: 10rem;
}

.custom-shape-divider-bottom-1687304935 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1687304935 svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 147px;
}

.custom-shape-divider-bottom-1687304935 .shape-fill {
  fill: #0d6efd;
}

.box-container {
  background: linear-gradient(
    101.38deg,
    rgba(32, 108, 173, 0.61) -0.29%,
    rgba(36, 93, 142, 0.34) 100.57%
  );
  margin-top: -3rem;
}

#about_us {
  overflow-x: hidden;
}

#blue_dots {
  right: -15rem;
  top: -3rem;
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wrapper-mobile-content {
  justify-content: center;
  display: flex;
  align-content: center;
  width: 100%;
  /*height: 8rem;*/
  position: relative;
  background: linear-gradient(
    101.38deg,
    rgba(32, 108, 173, 0.61) -0.29%,
    rgba(36, 93, 142, 0.34) 100.57%
  );
}

.wrapper-desktop-content {
  display: block;
}

#yellow_dots {
  position: absolute;
  left: -15rem;
  bottom: -10rem;
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel {
  margin: 30px auto 60px;
  padding: 0 80px;
}

.carousel .carousel-item {
  text-align: center;
  overflow: hidden;
}

.carousel .thumb-content {
  padding: 15px;
  font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: 44px;
  background: none;
  margin: auto 0;
  border-radius: 50%;
  /*border: 3px solid rgba(0, 0, 0, 0.8);*/
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}

.carousel-control-prev i {
  margin-left: -3px;
}

.carousel-control-next i {
  margin-right: -3px;
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px;
  border: none;
}

.carousel-indicators li {
  background: #ababab;
}

.carousel-indicators li.active {
  background: #555;
}

#footer {
  background-image: linear-gradient(
      101.38deg,
      rgba(5, 20, 107, 0.842) -0.29%,
      rgba(24, 22, 69, 0.75) 100.57%
    ),
    url("./../img/images/pexels-craig-adderley-2449454.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.service-categories {
  padding-top: 3em;
  padding-bottom: 3em;
  background-size: cover;
}

.service-categories .card {
  transition: all 0.2s;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.service-categories .card-title {
  padding-top: 0.5em;
}

.service-categories a:hover {
  text-decoration: none;
}

.service-card {
  background: rgba(72, 88, 104, 0.9);
  border: 0;
}

.service-card:hover {
  border-right: 5px solid orange;
  border-left: 5px solid orange;
}

.fa {
  color: white;
}

.circle_pattern {
  margin: -2.5rem;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #868686;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 85%;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #c6c6c6;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 13px;
  color: #fec62e;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 100%;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #868686;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 85%;
}

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fec62e;
  transition: 300ms ease all;
  left: 0%;
}

.card_transportation {
  /*width: 300px;*/
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card_transportation:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #fff;
  color: #0d6efd;
  align-items: center;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(
    rgba(5, 20, 107, 0.842),
    rgba(9, 5, 83, 0.75)
  );
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #fff;
  color: #0d6efd;
  align-items: center;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(
    rgba(5, 20, 107, 0.842),
    rgba(9, 5, 83, 0.75)
  );
  border-radius: 10px;
  justify-content: center;
  font-size: 20px;
  transform: rotateY(180deg);
}

/*equipment*/

.card-container {
  /*width: 300px;*/
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-equipment {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #0d6efd;
}

.card-equipment .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-equipment .front-content p {
  font-size: 28px;
  font-weight: 700;
  opacity: 1;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-equipment .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(rgba(5, 20, 107, 0.842), rgba(9, 5, 83, 0.75));
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-equipment .content .heading {
  font-size: 24px;
  font-weight: 700;
  margin-top: 3rem;
}

.card-equipment:hover .content {
  transform: translateY(0);
}

.card-equipment:hover .front-content {
  transform: translateY(-30%);
}

.card-equipment:hover .front-content p {
  opacity: 0;
}

@media (max-width: 576px) {
  #blue_dots,
  #yellow_dots {
    display: none;
  }

  .wrapper-mobile-content {
    display: block;
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .wrapper-desktop-content {
    display: none;
  }
  #hero {
    top: 2rem;
  }
  #hero h1 {
    margin-top: 3rem;
    font-size: 1.3rem;
  }
  .divider {
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  #blue_dots,
  #yellow_dots {
    display: none;
  }

  .wrapper-mobile-content {
    display: block;
  }

  .wrapper-desktop-content {
    display: none;
  }
  #hero {
    top: 2rem;
  }
  #hero h1 {
    margin-top: 3rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  #blue_dots,
  #yellow_dots {
    display: none;
  }

  .wrapper-mobile-content {
    display: none;
  }

  .wrapper-desktop-content {
    display: block;
  }
}

@media (min-width: 1200px) {
  #blue_dots,
  #yellow_dots {
    display: block;
  }

  .wrapper-mobile-content {
    display: none;
  }

  .wrapper-desktop-content {
    display: block;
  }
}

@media (min-width: 1400px) {
  #blue_dots,
  #yellow_dots {
    display: block;
  }

  .wrapper-mobile-content {
    display: none;
  }

  .wrapper-desktop-content {
    display: block;
  }
}

.about_us_image,
.about_us_text,
.vision_image,
.vision_text,
.form_footer,
.image_truck,
.equipment_cards,
.supply_chain_cards,
.we_are_located_text,
.we_are_located_image,
.certifications,
.image_transportation_services,
.transportation_services_carousel {
  overflow-x: hidden !important;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.9s ease-in-out all;
}

.position_left {
  overflow-x: hidden !important;
  transform: translateX(-100px);
}

.position_right {
  overflow-x: hidden !important;
  transform: translateX(100px);
}

.about_us_image.show,
.about_us_text.show,
.vision_image.show,
.vision_text.show,
.form_footer.show,
.image_truck.show,
.certifications.show,
.equipment_cards.show,
.supply_chain_cards.show,
.we_are_located_image.show,
.we_are_located_text.show,
.image_transportation_services.show,
.transportation_services_carousel.show {
  overflow-x: hidden !important;
  opacity: 1 !important;
  transform: scale(1) translateX(0);
}
