* {
    box-sizing: border-box; 
  }

body{
    margin: 0;
    background-color: #181645 !important;
}
#hero {
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(101.38deg, rgba(0, 0, 0, 0.75) -0.29%, rgba(24, 22, 69, 0.75) 100.57%); /* Adjust the opacity and color as needed */
    z-index: 0;
}

/* Adjust text color on top of the overlay */
#hero h1,
#hero h2,
#hero a {
    color: #fff;
    z-index: 1;
}

.divider{
    margin-top: 10rem;
}